<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="CSS/lab.css" /> -->
    <link rel="stylesheet" href="CSS/main.css" />
    <link rel="stylesheet" href="CSS/add.css" />
    <!-- <link rel="stylesheet" href="CSS/lab.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Adding Lab</title>
</head>

<body>
    <div class="home">
        <nav id="dark">
            <img src="img/logo.jpg" alt="" />
            <ul class="links">
                <li><a href="home.html">Home</a></li>
                <li><a href="home.html#resaerch">resaerch</a></li>
                <li><a href="home.html#services">services</a></li>
                <li><a href="home.html#about">About</a></li>
                <li><a href="home.html#features">features</a></li>
                <li><a href="home.html#contact">contact</a></li>
            </ul>
            <div class="btn">
                <li><a href="AddLab.html" id="button">Add Laboratory</a></li>
            </div>
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!-- </div> -->
        </nav>
        <div id="ddd" class="dropdown">
            <li><a href="home.html">Home</a></li>
            <li><a href="#resaerch">resaerch</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">features</a></li>
            <li><a href="#contact">contact</a></li>
            <div class="btn">
                <li><a href="AddLab.html" id="button">Add Laboratory</a></li>
            </div>
        </div> 
    </div>
    <!-- Body of Lab Adding -->
    <div class="con-lab">
        <div class="head">
            <h1>Add PC
                <div class="line"></div>
            </h1>
        </div>
        <div class="inputs">
            <div class="data-Lab">
                <input  class="valid" placeholder="ID of Lab: " type="text"  />
                <input class="valid" placeholder="ID of Pc:" type="number" id="buildNum" />
                <div class="btnss">
                <button style="margin-left: 64px;" class="update" type="submit" id="li"> <a href="list.html">Add Pc</a></button>
                </div>
        </div>
        </div>

        <!-- /////////////////////// -->
    </div>
</body>

    <script src="JS/btn.js">
    </script>
    <script src="JS/AddPc.js">
    </script>
    <script src="JS/lab.js">
    </script>

</html>