<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="CSS/main.css" /> -->
    <!-- <link rel="stylesheet" href="lab2.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/main.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'CSS/lab.css'%}"> -->

    <title>Add Lab</title>
</head>
<style>
    nav {
        background-color: white;
        box-shadow: rgb(74 108 112 / 76%) 0px 7px 29px 0px;
    }
</style>

<body style="background-color: #444344;">
    <div class="home">
        <nav>
            <img src="{% static 'img/logo.jpg' %}" alt="" />
            <ul class="links">
                <li><a style="scroll-behavior: smooth;" href="{% url 'home' %}">Home</a></li>
                <li><a style="scroll-behavior: smooth;" href="{% url 'research' %}">resaerch</a></li>
                <li><a href="{% url 'Services' %}">services</a></li>
                <li><a href="{% url 'AboutUs' %}">About</a></li>
                <li><a href="{% url 'features' %}">features</a></li>
                <li><a href="{% url 'ContactUs' %}">contact</a></li>
            </ul>
            <div class="btn">
                <li><a href="{% url 'add' %}" id="button">Add Laboratory</a></li>
            </div>
            <div class="bars">
                <i id="icon" class="fa-solid fa-bars"></i>
            </div>
    </div>
    </div>
    </nav>
    <!-- Body of Adding Lab -->
 
</body>

</html>