<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CSS/add.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/list.css' %}" />
    
    <link rel="stylesheet" href="{% static 'CSS/search.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>List Of Lab</title>
</head>
<body>
    <div class="home">
        <nav id="dark">
            <img src="img/logo.jpg" alt="" />
            <ul class="links">
                <li><a href="home.html">Home</a></li>
                <li><a href="home.html#resaerch">resaerch</a></li>
                <li><a href="home.html#services">services</a></li>
                <li><a href="home.html#about">About</a></li>
                <li><a href="home.html#features">features</a></li>
                <li><a href="home.html#contact">contact</a></li>
            </ul>
            <div class="btn">
                <li><a href="AddLab.html" id="button">Add Laboratory</a></li>
            </div>
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!-- </div> -->
        </nav>
        <div id="ddd" class="dropdown">
            <li><a href="home.html">Home</a></li>
            <li><a href="#resaerch">resaerch</a></li>
            <li><a href="#services">services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">features</a></li>
            <li><a href="#contact">contact</a></li>
            <div class="btn">
                <li><a href="AddLab.html" id="button">Add Laboratory</a></li>
            </div>
        </div> 
    </div>

    <!-- Body Of Lis -->
    <div class="listlab">
        <div class="head">
            <h1>Search
                <div class="line"></div>
            </h1>
        </div>
        <div class="inputs">

            <div class="data-Lab">
                <input class="valid" placeholder="Search By Name:" type="text" id="buildNum" />
                <!-- <div class="btnss">
                    <button class="update" type="submit" id="Add"> <a href="addpc.html">Add Pc</a> </button>
                </div> -->
            </div>
        </div>
        <div class="outputs">
            <table >
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>building number</th>
                    <th>floor number</th>
                    <th>capacity</th>
                    <th>number of pc,s</th>
                    <th>number of chairs</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody id="table">
                    <hr>
                    <tr>
                        <td>1</td>
                        <td>lab 1</td>
                        <td>43</td>
                        <td>5</td>
                        <td>65</td>
                        <td>76</td>
                        <td>76</td>
                        <td><b class = "inact" >.</b>Active</td>
                        <td><button onclick="UpdateLab()" id="btnEdit">Edit</button></td>
                        <td><button onclick="deleteLab()" id="btnDelete">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="JS/btn.js">
</script>
<script src="JS/AddPc.js">
</script>
<script src="JS/lab.js">
</script>
</html>