* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serf;
}

.features h1 {
    display: block;
    position: relative;
    text-align: center;
    padding: 60px 60px;
    margin: 0 auto;
}

.featSec {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.featuresSec {
    position: absolute;
    margin: 0 auto;
    width: 30%;
}

div.features img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.iconContent {
    text-align: center;
    font-size: 120%;
    margin: 10px 0;
    padding: 0 30px;
}

.iconTitle {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 140%;

}