h1 .line {
    width: 7%;
    height: 3px;
    justify-content: center;
    background-color: var(--main-colori--);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}


.data-Lab input {
    width: 70%;
    height: 38px;
    outline: none;
    margin: auto;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    padding: 3px;
}